@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"
@model AspNetBlog.Models.Post

@{
    Layout = "_Layout";
}

<form asp-controller="Posts" asp-action="Create" method="post">
    <div asp-validation-summary="ValidationSummary.All" class="input-validation-error"></div>

    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control"/>
        <span asp-validation-for="Title" class="field-validation-error"></span>
    </div>
    <div class="form-group">
        <label asp-for="Body"></label>
        <textarea asp-for="Body" class="form-control"></textarea>
        <span asp-validation-for="Body" class="field-validation-error"></span>
    </div>

    <button class="btn btn-primary" type="submit">Create Post</button>
</form>
